@charset "utf-8";

/* 스타일 초기화 */

/* 반응형 폰트 사이즈 설정 62.5% = 10px */
html { font-size: 62.5%; }

/* 요소 여백 초기화 */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* 하이퍼링크 설정 */
a { color: inherit; text-decoration: none; }

/* 목록 불릿 없애기 */
ol, ul { list-style: none; }

/* 이미지 세로 정렬 */
img { vertical-align: middle; }

/* 테이블 지정 */
table { border-collapse: collapse; width: 100%; }

/* 텍스트 관련 요소 초기화 */
address, caption, em { font-weight: normal; font-style: normal; }

/* 웹브라우저에서 숨김 처리 */
caption, legend, hr { display: none; }

/* 폼요소 설정 초기화 */
fieldset, input, select, textarea, button { font-family: inherit; font-size: inherit; vertical-align: middle; border: 0; }


